body {
  --bg-color: var(--color-base-light);
  --fg-color: var(--color-base-dark);
  --bg-color-subtle: var(--color-gray-subtle-light);
  --fg-color-subtle: var(--color-gray-light);
  --accent-color: var(--color-accent-light);

  font-family: var(--font-base);
  font-size: var(--size-step-0);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  background: var(--bg-color);
  color: var(--fg-color);
  letter-spacing: var(--tracking);
  display: flex;
  flex-direction: column;
}

[data-theme='dark'] body {
  --bg-color: var(--color-base-dark);
  --fg-color: var(--color-base-light);
  --bg-color-subtle: var(--color-gray-subtle-dark);
  --fg-color-subtle: var(--color-gray-dark);
  --accent-color: var(--color-accent-dark);
}

/* Base typesetting */

h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading-1);
}

h2,
h3 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading-2);
}

h4,
h5,
h6 {
  font-family: var(--font-base);
  font-weight: var(--font-weight-bold);
}

h1,
h2,
h3 {
  line-height: var(--line-height-tight);
  letter-spacing: var(--tracking-l);
  max-width: 24ch;
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

h4,
h5,
h6 {
  font-size: var(--size-step-1);
}

/* Set line lengths */

p,
li,
h4,
h5,
h6,
blockquote:not([class]) {
  max-width: var(--content-measure);
}

/* Generic elements */

em {
  color: var(--accent-color);
}

blockquote:not([class]) {
  font-family: var(--font-heading);
  font-size: var(--size-step-2);
}

blockquote:not([class]) p:last-of-type {
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  font-weight: normal;
}

svg {
  height: 2.5ex;
  width: auto;
  flex: none;
}

[role='list'] {
  padding: 0;
}

a {
  color: var(--accent-color);
}

a:hover {
  text-decoration: none;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

:focus {
  outline: var(--outline-size) solid;
  outline-offset: var(--outline-offset);
  outline-color: var(--fg-color);
}

main > ul[role='list'],
header,
section,
article > *,
aside {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

main,
header,
aside {
  margin-block-end: var(--space-xl-2xl);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--bg-color-subtle);
}

p > code,
li > code,
a > code {
  padding: 2px 4px;
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-color-subtle);
  color: var(--accent-color);
  font-size: var(--size-step-0);
}

pre {
  padding: var(--space-2xs-xs);
  border-radius: var(--border-radius-sm);
}

footer {
  margin-block-start: var(--space-xl-2xl);
}


nav {
  background-color: #f0f0f0;
  padding: 10px;
  overflow: hidden; /* Clear the float */
}

/* CSS for navigation links */
.navbar-link {
  float: right; /* Float the links to the right */
  margin-left: 10px; /* Add some space between navigation links */
  text-decoration: none; /* Remove underlines from the links */
  color: #333; /* Set the color of the links */
  background-color: transparent; /* Set initial background as transparent */
  padding: 5px 10px; /* Add some padding to the links */
  border-radius: 5px; /* Round the corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */
}

/* CSS for navigation links when hovered */
.navbar-link:hover {
  background-color: hsl(321, 96%, 60%); /* Set background color on hover */
  color: white; /* Set text color to white on hover */
}

/* CSS for the logo image */
.logo-image {
  float: left; /* Float the image to the left */
  width: 45px; /* Adjust the width as per your requirement */
  height: auto; /* Keeps the aspect ratio of the image */
}

nav{
  font-family: var(--font-base);
  font-weight: var(--font-weight-bold);
  background-color: #f0f0f0;
  padding: 10px;
  overflow: hidden; /* Clear the float */
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Stick it to the top of the viewport */
  left: 0; /* Align it to the left edge of the viewport */
  width: 100%; /* Make the navbar full-width */
  z-index: 1000; /* Set a high z-index to ensure it's always on top */
}

/* CSS for dark mode */
.dark-mode {
  background-color: #333; /* Set dark background color */
  color: white; /* Set text color for dark mode */
}


.share-button {
  font-family: var(--font-base);
  font-weight: var(--font-weight-bold);
  background-color: hsl(207, 100%, 43%);
  padding: 10px;
  border-radius: 30px; /* Round the corners */
  cursor: pointer; /* Change cursor on hover */
  color: #fff; /* White text color */
}

.share-button:hover {
  background-color: hsl(207, 100%, 60%); /* Slightly darker color on hover */
}