---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "About",
  description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title" style="font-size: 2rem;">about us</h1>
    <p style="font-size: 1rem;">
      welcome to <span style="color: rgb(151, 66, 225);">empathos</span>
      <br /><br />
      your trusted source for comprehensive and compassionate mental health support.
      we understand that navigating the complexities of mental well-being can be
      challenging, and that's why we're here to offer you a guiding light on your
      journey towards emotional wellness.
      <br /><br />
      at empathos, we firmly believe that everyone deserves to lead a fulfilling
      and balanced life. our mission is to provide you with a safe and inclusive
      space where you can find the information, resources, and encouragement you
      need to nurture your mental health. whether you're seeking guidance for yourself
      or a loved one, we're dedicated to helping you foster resilience, cope with
      challenges, and ultimately, thrive.
    </p>
  </div>
</PageLayout>
