---
import Layout from "../layouts/Layout.astro";
---

<Layout title="empathos">
  <main>
    <article class="region prose wrapper hero">
      <h1>empathos<a href="#">;</a></h1>

      <h2>
        make your <a href="https://astro.build/">mental</a> health a priority
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>how does it work?</h3>
          <p> ...</p>
        </li>

        <li class="flow">
          <h3>share your story</h3>
          <p> ...</p>
        </li>
      </ul>
    </article>
  </main>
</Layout>
