---
import Layout from "../layouts/Layout.astro";
---

<Layout title="empathos">
  <main>
    <article class="region prose wrapper hero">
      <h1>empathos<a href="#">;</a></h1>

      <h2>
        make your <a href="#">mental</a> health a priority
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>how does it work?</h3>
          <p
            >welcome to empathos, a platform dedicated to promoting mental
            well-being and providing support for individuals facing mental
            health challenges. the mission is to create a safe space where you
            can find valuable resources and access support that empowers you on
            your journey to mental wellness.</p
          >
        </li>

        <li class="flow">
          <h3>share your story;</h3>
          <p
            >we believe in the power of personal narratives to inspire and
            uplift others. if you have a story of resilience, recovery, or
            overcoming mental health challenges, we encourage you to share it
            with our community.</p
          >
          <button class="share-button">submit</button>
        </li>
        <li class="flow">
          <h3>blogs and resources</h3>
          <p
            >the blog section is a rich resource hub for mental health
            information, self-improvement tips, and inspiring stories.whether
            you're looking for tips on managing stress, coping with anxiety, or
            understanding mental health conditions, our blog is your go-to
            destination for reliable information.</p
          >
        </li>

        <li class="flow">
          <h3>beep boop?</h3>
          <p
            >sign up for our newsletter and receive regular updates on events,
            new resources, and exclusive content. stay informed and be the first
            to know about exciting announcements.</p
          >
        </li>
      </ul>
    </article>
  </main>
</Layout>
